body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
  
}
.nav-container {
     
    background:gray;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}
a:hover {
	color:#2387D9;
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}
.button:hover {
    background-color: 157dd3;
    color: white;
    cursor:pointer;
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 16px;
}

.useritem{
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: crimson; 
    text-transform: uppercase;
}

.likebtn {
    margin: 0 auto;
    height: 40px;
    width: 50px;
    border: 0px;
    vertical-align: middle;
    background-image: url("..//img//like.png");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
} 
.likebtn:hover {
    background-image: url("..//img//like_hover.png");
    cursor:pointer;
}

.flash-container {
    background-color: lightcoral;
    height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.postmessage {
    font-family: Tahoma;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-wrap: normal;
}

.posttimestamp {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 300;
}

.likecount {
    font-family: Tahoma;
    font-weight: bold;
    text-align: center;
    height: 40px;
    width: 50px;
}

.formtitle {
    font-family: Tahoma;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    width: 80%;
    height: 25px;
}

.formbody {
    font-family: Tahoma;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    width: 80%;
    height: 80px;
}

.formselect {
    font-family: Tahoma;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: 20px;
    display: inline-block;
}

.postlist {
    display: flex;
    flex-wrap: wrap;
}

.post-box {
    display: flex;
    vertical-align: middle;
    margin: 3px;
    background-color: gainsboro;
} 

@media screen and (max-width: 800px){
    .post-box{ width: 99%; }
}
    
@media screen and (min-width: 800px) and (max-width: 1200px){
    .post-box{ width: 48%; }
}

@media screen and (min-width: 1200px) {
    .post-box{ width: 32%; }
}

.tagitem {
    border:1px solid black;
    margin: 2px;
    padding: 2px;
    background-color: white;
}

.forminput {
    margin: 5px;
    padding: 5px;
    font: Tahoma;
    font-size: medium;
    width: 50%;
}