<main>


    <div class="col">
        <div class="card shadow-sm">
<!--             <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <image href="../static/img/like.png" height="200" width="200"/>
            </svg> -->
            
        <img src="../static/img/like.png" class="card-img-top">
            
            

          <div class="card-body">
            <p class="fw-bold" > {{ post.title }} </p> 
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <form action="{{ url_for('routes.like', post_id = post.id) }}" method="POST">
                <button type="submit" class="btn btn-sm btn-outline-secondary">👍</button>
                </form>
                
                <form action="{{ url_for('routes.viewcomments', post_id = post.id) }}" method="POST">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">Comments</button>
                </form></div>
              <small class="text-muted">Likes: {{post.likes}}</small>
            </div>
          </div>
        </div>
      </div>

  
  </main>
  