{% extends "base.html" %}

{% block app_content %}

    
    <!-- TODO: (milestone1) Display smile count.   -->
    
    <!--     TODO: (milestone 2) Format posts -->
    <div class = "postlist">
        {% for post in posts %}
            <div class = "post-box">
                {% include '_post.html' %} 
                
            </div>
            
            <!-- use post.id to get comments for this post -->
            
        {% endfor %}
    </div>

    <div class = "postlist">
        {% for comment in comments %}
        {% include '_commentcard.html' %} 
        {% endfor %}
    </div>
  
{% endblock %}