{% extends "base.html" %}

{% block app_content %}

    
    <!-- TODO: (milestone1) Display smile count.   -->
    
    <!--     TODO: (milestone 2) Format posts -->
    <div class = "postlist">
        {% for post in posts %}
            <div class = "post-box">
                {% include '_post.html' %} 
            <a href="{{ url_for('routes.postcomment', post_id = post.id) }}" class = "button"> Add a comment </a>
                    
                
            </div>
            
            <!-- use post.id to get comments for this post -->
            
        {% endfor %}
    </div>

    <div class = "postlist">
        {% for comment in comments %}
            {{comment.text}}
        {% endfor %}
    </div>
  
{% endblock %}